@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Proj4js Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js"></script>

<!--<div class="text-center">
    <h1 class="display-4">Nashville Transit Survey Result Map</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<div id="controls">
    <button id="btn-access" class="toggle-btn">Public Transit Access</button>
    <button id="btn-commute" class="toggle-btn">Commute by Transit</button>
</div>

<div id="map"></div>
